{% extends 'base.html' %}

{% block title %}
Добавление товара
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="display-4 fw-normal">Тест</h1>
    <form method="post">

        <h4 class="mb-3">Payment</h4>
        <div class="my-3">
            <div class="form-check">
              <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked="" required="">
              <label class="form-check-label" for="credit">Credit card</label>
            </div>
            <div class="form-check">
              <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required="">
              <label class="form-check-label" for="debit">Debit card</label>
            </div>
            <div class="form-check">
              <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required="">
              <label class="form-check-label" for="paypal">PayPal</label>
            </div>
        </div>
    </form>
</div>
{% endblock %}

