{% extends 'base.html' %}

{% block title %}
Go to test
{% endblock %}

{% block body %}
<form class="needs-validation" method="post" action="/test/{{test_name}}">
    <h4 class="display-6">Тест: {{test_name}}</h4>
    {% for question, ans in data.items() %}
    <h4 class="mb-3">{{question[0]}}</h4>
    <div class="my-3">
        {% for i in ans %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="id_{{question[1]}}" name="{{question[0]}}" value="{{i}}">
            <label class="form-check-label" for="id_{{question[1]}}">{{i}}</label>
        </div>
        {% endfor %}
    </div>
    <hr class="my-4">
    {% endfor %}
    <button class="w-100 btn btn-primary btn-lg" type="submit">Отправить</button>
</form>
{% endblock %}